main div.tagline {
    font-size:1.75rem;
    text-align:center;
    margin-top:0.5rem;
    margin-bottom:1.5rem;
    border: 2px solid var(--text-color);
    border-radius:0.25rem;
    background:var(--darktone-color);
    text-shadow: var(--text-color-glow) 0 0 1rem;
    padding: 0.75rem;
    box-shadow: 0 0 1rem var(--text-color-glow) inset;
}

main div.buttons {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:stretch;
    gap:1rem;
    margin-bottom:1rem;
}

main a button{
    padding:1rem;
    color: var(--text-color);
    font-family: 'walkway-oblique', 'Verdana', sans-serif;
    font-size:2.5rem;
    text-shadow: var(--text-color-glow) 0 0 1rem;
    background:var(--darktone-color);
    border: 3px solid var(--alt-accent-color);
    border-radius:0.25rem;
    box-shadow: 0 0 1rem var(--alt-accent-color-glow) inset;
    transition-duration:0.25s;
    text-align:center;
    width:100%;
    height:100%;
}

main a button div.subtitle {
    margin-top:0.5rem;
    font-size:1.25rem;
}

main a {
    flex-grow:1;
}

main a button:hover {
    color: var(--alt-accent-color);
    transition-duration:0.25s;
    text-shadow: var(--alt-accent-color-glow) 0 0 1rem;
    cursor:pointer;
}

main a button:active {
    color: var(--alt-accent-color);
    transition-duration:0.25s;
    text-shadow: var(--alt-accent-color-glow) 0 0 1rem;
    transform: scale(0.95, 0.95);
}