main h1 {
    text-decoration: none;
    color: var(--main-accent-color);
    text-shadow: var(--main-accent-color-glow) 0 0 1rem;
    font-family: 'walkway-oblique', 'Verdana', sans-serif;
    font-size:3rem;
    text-align:left;
    padding-left:1rem;
    padding-right:1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main .outer-frame {
    text-align:center;
    padding:1rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch;
    gap:1rem;
}

#map {
    height:32rem;
    border: 6px solid var(--text-color);
    border-radius:0.25rem;
    box-shadow: 0 0 2rem var(--text-color-glow) inset;

    flex-grow:1;

    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
}

main .condition-panel {
    width:30vw;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:stretch;
    gap: 1rem;
}

main .condition-panel h2 {
    font-size: 2rem;
}

main .condition-panel button {
    padding:1rem;
    font-family:'modern-sans', Arial, sans-serif;
    font-weight:bold;
    font-size: 1.5rem;
    background:var(--invis);
    color: var(--text-color);
    border: 3px solid var(--alt-accent-color);
    border-radius:0.25rem;
    box-shadow: 0 0 1rem var(--alt-accent-color-glow) inset;
    text-shadow: var(--text-color-glow) 0 0 1rem;
    transition-duration:0.25s;
}

main .condition-panel button:hover {
    color: var(--alt-accent-color);
    text-shadow: var(--alt-accent-color-glow) 0 0 1rem;
    transition-duration:0.25s;
}

main .condition-panel button:active {
    transition-duration:0.1s;
    transform: scale(0.95, 0.95);
}

